
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*css personalizado*/
body {
    font-family: Roboto, sans-serif;
  }

  .text-roboto{
    font-family: Roboto, sans-serif;
  }
.color-basic{
    background-color: #09FFFF;
}

.color-gradient{
  background: rgb(3,179,179);
background: linear-gradient(90deg, rgba(3,179,179,1) 33%, rgba(9,255,255,1) 100%);
}

.color-boton{
  background-color: #00D1FF;
}

.scroll-container::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: transparent; /* Color transparente para la barra de desplazamiento */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* Color transparente para la pista de desplazamiento */
}

.card-style{
  border-radius: 15px;
border: 0px solid #000;

background: rgba(0, 255, 224, 0.90);

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.style-lessons{
border: 0px solid #000;
background: #EFF5F5;
box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.40);
}
