
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*css personalizado*/
body {
    font-family: Roboto, sans-serif;
    background-color: #e8e8ec;
  }

  .text-roboto{
    font-family: Roboto, sans-serif;
  }
.color-basic{
  background: rgb(94,75,229);
  background: linear-gradient(90deg, rgba(94,75,229,1) 100%, rgba(130,67,247,1) 100%);}

.color-gradient{
  background: rgb(3,179,179);
background: linear-gradient(90deg, rgba(3,179,179,1) 33%, rgba(9,255,255,1) 100%);
}

.color-boton{
  background-color: #00D1FF;
}

.scroll-container::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: transparent; /* Color transparente para la barra de desplazamiento */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* Color transparente para la pista de desplazamiento */
}

.card-style{
  border-radius: 15px;
border: 0px solid #000;

background: white;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.style-lessons{
border: 0px solid #000;
background: #EFF5F5;
box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.40);
}

.gradientCard{
  background: rgb(110,4,244);
  background: linear-gradient(90deg, rgba(110,4,244,1) 0%, rgba(69,47,227,1) 63%, rgba(84,62,245,1) 88%, rgba(103,84,244,1) 97%);
}

/*gradientes para el efecto*/
.gradient1{
  background: rgb(103,84,244);
  background: linear-gradient(90deg, rgba(103,84,244,1) 0%, rgba(110,4,244,1) 35%, rgba(69,47,227,1) 57%, rgba(84,62,245,1) 95%);
}

/*animaciones para boton*/
.botonBorde {
  border: 0;
  transition: border-color 0.3s ease;
}

.botonBorde:hover {
  border-color: white;
}

